/* COLORS */
$blue: #3483fa;
$dark: #333333;
$gray: #999999;
$plate: #666666;
$steel: #eeeeee;
$yellow: #ffe600;
$white: #ffffff;

/* CUSTOM */
$border-shadow: 0 rgba(0, 0, 0, 0.2);
$source: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto,
  Arial, sans-serif;
$shadow: 0 1px 0 0 rgba(0, 0, 0, 0.02);
